.content-panel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 64px);
    background-color: rgba(47, 53, 61, 0.92);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
